/*Unity Styles*/
.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;} 
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;} 
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}

html{
    overflow: hidden;
}

body{
    margin: 0px;
    background-color: #412a58;
    color: white;
}

/*Custom styles*/
input[type="text"]{
    display: inline-block;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    border: solid 1px #dcdcdc;
    box-shadow: none;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.upper-left{
    position: absolute;
    left: 0px;
    width: 25%;
    padding: 10px;
}

.upper-right{
    position: absolute;
    right: 0px;
    width: 25%;
    padding: 10px;
    
}

.upper-center{
    width: 25%;
    margin: auto;
}

.middle-left{
    position: absolute;
    left: 0px;
    top:50%;    
    width: 25%;
    padding: 10px;
}

.middle-right{
    position: absolute;
    right: 0px;
    top:50%;
    width: 25%;
    padding: 10px;
    
}

.middle-center{
    position:absolute;
    width: 100%;
    top:50%;
}



.middle-center button{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    width: 25%;
    font-family: sans-serif;
    font-size: 18px;
    
}

.popup{
    display:none;
    position:fixed;
    z-index:1;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    padding: 0px;
    margin: 0px;
}

#loader{
    display: block;
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
}
#loader h1{
    position: absolute;
    top:100%;
    left:50%;
    margin: 0px;
    transform:translate(-50%, -100%);

}

.popup-close{
    position: absolute;
    right: 0px;
    top:0px;
    width: 50px;
    height: 50px;
    background-image: url("../images/X.png");
    z-index: 1;
    background-size: contain;

}

.popup-close:hover{
    background-image: url("../images/X-hover.png");
}